#mainDiv{
	margin-top: 50px;
	width: 600px;
}
#upperDiv{
	padding: 30px;
	background-color: white;
	border: 1px solid #14bdac;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#middleDiv{
	background-color: #14bdac;
	padding: 10px;
}
#status{
	margin-top: 10px;
	border: 0px;
	color: grey;
	
}
#rstrt{
	width: 600px;
	height: 50px;
	color: #14bdac;
	cursor: pointer;
	font-weight: 700;
	background-color: white;
	border: 1px solid #14bdac;
	border-bottom-right-radius: 10px; 
	border-bottom-left-radius: 10px; 

}
#status{
	text-align: center;
}

input:focus, button:focus{
	outline: none;
}
.symbol{
	width : 30px;
	height : 34px;
	cursor: pointer;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	font-weight: 550;
	font-size: large;
	text-align: center;
	border-bottom-left-radius: 10px;
}
.score{
	height: 30px;
	width: 160px;
	color: grey;
	cursor: pointer;
	border-top: 0px;
	border-left: 0px;
	font-weight: 550;
	font-size: large;
	font-family: Courier New;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.size{
	width: 70px;
	height: 70px;
	text-align: center;
	vertical-align: middle;
	line-height: 75px;
}

.left_border{
	border-left: 3px solid #0ba393;
	background-color: #14bdac;
}
.right_border{
	border-right: 3px solid #0ba393;
	background-color: #14bdac;
}
.top_border{
	border-top: 3px solid #0ba393;
	background-color: #14bdac;
}
.bottom_border{
	border-bottom: 3px solid #0ba393;
	background-color: #14bdac;
}
.bottom-edge {
	border-bottom-color: #14bdac;
}

.edge-shadow {
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 16px 5px 15px 5px rgba(0,0,0,0); 
	box-shadow: 0px 10px 13px -7px #000000, 16px 5px 15px 5px rgba(0,0,0,0);
}

.size{
	font-size: 30px;
	font-weight: bold;
	color: #14bdac;
}
.O{
	color: black;
}
.X{
	color: white;
}