#mainDiv{
		margin-top: 50px;
		width: 600px;
	}
	#upperDiv{
		padding: 30px;
		background-color: white;
		border: 1px solid #14bdac;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	#middleDiv{
		background-color: #14bdac;
		padding: 10px;
	}
	#status{
		margin-top: 10px;
		border: 0px;
		color: grey;
	
	}
	#rstrt{
		width: 600px;
		height: 50px;
		color: #14bdac;
		font-weight: 700;
		background-color: white;
		border: 1px solid #14bdac;
		border-bottom-right-radius: 10px; 
		border-bottom-left-radius: 10px; 

	}

	.symbol{
		width : 30px;
		height : 32px;
		border-top: 0px;
		border-left: 0px;
		border-right: 0px;
		font-weight: 550;
		font-size: large;
		text-align: center;
		border-bottom-left-radius: 10px;
	}
	.score{
		height: 30px;
		width: 160px;
		color: grey;
		border-top: 0px;
		border-left: 0px;
		font-weight: 550;
		font-size: large;
		font-family: Courier New;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	.size{
		width: 70px;
		height: 70px;
		border: 0px;
	}
	.left_border{
		border-left: 3px solid #0ba393;
		background-color: #14bdac;
	}
	.right_border{
		border-right: 3px solid #0ba393;
		background-color: #14bdac;
	}
	.top_border{
		border-top: 3px solid #0ba393;
		background-color: #14bdac;
	}
	.bottom_border{
		border-bottom: 3px solid #0ba393;
		background-color: #14bdac;
	}
	.bottom-edge-shadow {
		border-bottom-color: #14bdac;
		-webkit-box-shadow: 0 8px 6px -6px black;
	   	-moz-box-shadow: 0 8px 6px -6px black;
	    box-shadow: 0 8px 6px -6px black;
}